* {
  font-family: 'Reem Kufi', sans-serif;
  color: #393939;
}

body {
  margin: 0 auto;
  text-align: center;
  background-color: #BEBEBE;
}

#alertMessageBox {
  height:70px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h1 {
font-size: 40px;
font-weight: 600;
margin-top: 5px;
}

h3{
  font-size: 20px;
  font-weight: 400;
  margin:0;
}

ul {
  padding: 0;
  margin: 0;
  text-align: center;
}

li { /*default background for card before it is flippped.*/
  display: inline-block; /* Styling that allow cards to "fill" up the rows nice and neat. */
  width: 100px;
  height: 150px;
  margin: 5px;
  border: 5px solid #FEFFFF;
  background: url("imgs/cardback.png"); /*unflipped cards, background image*/
  background-position: center;
  vertical-align: top;
}

img {
  width:100px;
  height:150px;
  
}

